<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/heads :: head('Home')">
    <meta charset="UTF-8">
    <title>Home</title>


</head>
<body class="about">

<nav th:replace="fragments/navbar :: navbar"></nav>



<div class="bio-container container-fluid">
    <h1 class="welcome text-center" style="color: white; font-family: 'Dancing Script', cursive; font-size: 50px">About Us</h1>
    <div class="row bio">
        <div class="col-12 col-md-5 text-center mt-5">
            <img id="bio" src="/img/WhoWeAre.jpeg" width="50%"/>
        </div>
        <div id="who" class="col-12 col-md-6 text-center mt-4 mb-5 text-center" style="background-color: rgba(211,211,211,0.41)">

            <p class="m-5 text-center" style='color: #4f5c5c; font-family:  Raleway, sans-serif; font-size: 18px' >I'm Jacques. I love routine, gourmet food, Green Bay, and our 7 year old chorkie, Tuck.
                I'm DeLayne. I love free spirits, water, and outdoor adventure. Mia, our 2 year old yorkie, is my <em> best </em> friend!
                <br>
                <em>We</em> are polar opposites but share the same love for each other + travel. This blog is our personal
                journal of our traveling experiences and bucket list of things to come! </p>
        </div>
    </div>
</div>


</body>
</html>