<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/heads :: head('Home')">
    <meta charset="UTF-8">
    <title>Home</title>


</head>
<body class="landing">

    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">
        <div class="row mt-5" id="callToAction">
            <div class="subscribe col-12 d-flex justify-content-center align-self-center">
                <a id="subscribe-btn" href="#" class="btn btn-sm btn-lg active" role="button" aria-pressed="true" style="background-color: white">Subscribe!</a>
            </div>
        </div>

        <div class="food-posts">

        </div>

        <div class="middle" id="secondCallToAction">

        </div>

        <div class="experiences">

        </div>
    </div>


</body>
</html>