body.landing {
    margin: 0px;
    padding: 0px;
    background-image: url("/img/LandingPage.png");
    background-size: 100%;
    background-repeat: no-repeat;
}



@media (min-width: 320px) {

    .first-group {
        margin-top: 50px;
        margin-left: 29px;
    }

}


@media (min-width: 425px) {

    .first-group {
        margin-top: 50px;
        margin-left: 50px;
    }

}



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.home-card-container{
    margin-top: 44px;!important;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .home-card-container{
        margin-top: 94px;!important;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .home-card-container{
        margin-top: 160px;!important;
    }

    .first-group {
        margin-top: 78px;
    }
}


/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1250px) {
    .home-card-container{
        margin-top: 230px;!important;
    }
    .first-group {
        margin-top: 210px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {
    .home-card-container{
        margin-top: 416px;!important;
    }
    .first-group {
        margin-top: 242px;
    }
}