body.index {
    /*background-image: url("/img/index-background.png");*/
    /*background-repeat: repeat-y;*/

}

.index-card-body {
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
}

.read{
    color: white;
}

.edit{
    color: white;
}

.card-img-top {
    box-shadow: black -1px 10px 29px -3px;
}


.grid-container {
    display: grid;
    grid-template-areas:
                    "one one two two three three"
                    "one one two two three three"
                    "five five two two four four"
                    "five five  . .     four four"
                    "five five six six four four"
                    "five  five six six seven seven";
    grid-gap: 3em;

}


#masonry1 {
    grid-area: one;

}



#masonry2 {
    grid-area: two;

}


#masonry3 {
    grid-area: three;

}

#masonry4 {
    grid-area: four;

}


#masonry5 {
    grid-area: five;

}

#masonry6 {
    grid-area: six;
}

#masonry7 {
    grid-area: seven;
}

