/*body#login {*/

/*    background-image: url("/img/BlogLogin.png");*/
/*    height: 100%;*/
/*    !*background-position: center;*!*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/

/*}*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

/*.login-container {*/

/*    background: rgba(186, 131, 149, 0.36);*/
/*    width: 75%;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/

.card-body {
   background-color: #ba8395;
    color: white;
}

.read{
   color: white;
}

.edit{
    color: white;
}

