body{
    margin: 0;!important;
    padding: 0;!important;
}


/*LANDING */
body.landing, .index  {
    background-image: url("/img/Landing.png");
    margin: 0;
    padding: 0;
}


body.login  {
    background-image: url("/img/Login.jpg");
    margin: 0;
    padding: 0;
}
.welcome {
    margin-top: 80px;
}

.bio {
    margin-top: 30px;

}

#bio {
    border-radius: 500px;
}



/*LOGIN */
.login-form {
    text-align: center;
    margin-left: 50px;

}


/*ALL POSTS*/
.card-body {
   background-color: #ba8395;
    color: white;
}

.read{
   color: white;
}

.edit{
    color: white;
}

